.red-button-solid {
    background-color: #DC1431;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .red-button-solid:hover {
    background-color: #b01029;
  }
  .blue-button {
    background-color: #016696;
    color: white;
    border: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
  }
  
  .blue-button:hover {
    background-color: #015580;
    color: white;
  }
  .red-button-solid {
    background-color: #DC1431;
    color: white;
    border: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    width: 30px
  }
  
  .red-button-solid:hover {
    background-color: #b01029;
    color: white;
  }
  
  .section-sm {
    padding: 70px 0;
  }